<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartMeter.ReworkSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConStr" connectionString="\\DataBase\\SMReworkSoftware.db3" />
		<add name="AVG.ProductionProcess.FunctionalTest.Properties.Settings.ConnectionString"
   connectionString="Dsn=SQLite3 Datasource" providerName="System.Data.Odbc" />
	</connectionStrings>
    <userSettings>
        <SmartMeter.ReworkSoftware.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="HLS" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="ZigNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="NewGlobalKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NewHLS" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserType" serializeAs="String">
                <value />
            </setting>
        </SmartMeter.ReworkSoftware.Properties.Settings>
    </userSettings>
</configuration>